/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2014, 5:45:24 PM
    Author     : Chris
*/

body{
    margin: 0px auto;
    width: 70%;
    font-family: Arial;
}
#contentWrapper{
    width:100%;
    margin-bottom: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    background-image: url("img/light_grey.jpg");   
    height:100%;
}
#welcome{
    text-align: center;
}

#error{
    text-align: center;
    font-size: 2em;
    color: red;
}

.correct{
    text-align:center;
    font-size: 1.75em;
    color: green;
    padding-bottom: .5em;
}
.incorrect{
    text-align: center;
    font-size: 1.75em;
    color: red;
    padding-dottom: .5em;
}

.gameOver{
    text-align:center;
}

#flag img{
    display: block;
    margin: auto;
    max-width: 75%;
    min-width:25%;
    padding-bottom:2em;
}

#question{
    text-align:center;
}
form { 
       padding: 1.5em; 
       width: 50%; 
       display: block; 
       background: #FAFAFA; 
       margin: 0 auto;
}

input, textarea{
    line-height: 2em;
    padding: .5em;
    width: 75%;
    border: 1px solid #E5E5E5;
    outline: 0;
    font: normal 15px/150% Verdana, sans-serif;

    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-shadow: 0 0 8px rgba(0,0,0,.1);

    background: -webkit-linear-gradient(top, #EEE 0px, #FFF 25px);
    background: -moz-linear-gradient(top, #EEE 0px, #FFF 25px);
}
input:hover, input:focus,
textarea:hover, textarea:focus {
	border-color: #C9C9C9;

	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
	box-shadow: 0 0 8px rgba(0,0,0,.15);
}

input[type=submit] {
	width: auto;
	padding: .8em 1em;
	background: #617798;
	border: 0;
	font-size: .85em;
	font-weight: bold;
	color: #FFFFFF;
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	cursor: pointer;
     
}

input[type=submit]:hover {
	background: #7387A6;
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,.4);
}

label {
	padding-left: .1em;
	color: #808080;
	display: inline-block;
	width: 50%;
}

a{
    font-size: 1.5em;
}

a:link {
    color: #666666;
    text-decoration: none;
}
 
a:active {
    color: #B73045;
    text-decoration: none;
}
 
a:visited {
    color: #9966FF;
    text-decoration: none;
}
a:hover {
    color: #B73045;
    text-decoration: none;
}

@media all and (max-width: 550px){
    body{
        width:100%;
    }
    form{
        width:75%;
    }
    .correct, .incorrect{
        font-size: 1.5em;
    }
    #error{
        font-size: 1.5em;
    }
}
@media all and (max-width: 660px) and (min-width: 551px){
    form{
        width:75%;
    }
}